<!DOCTYPE html>
<html>
<head>
    <title>Polymail Home</title>
</head>

<h1>Polymail Home - Under Construction</h1>

<body class="Polymail">
{% if request.user.is_authenticated %}
    <p>
        Welcome  home, {{ request.user.first_name }}
    </p>

    {# Options #}
    <a href="/compose/0/">Compose Email</a>
    <br><br>
    <a href="/notes/">Go to Notes</a>
    <br><br>
    <a href="/logout/">Logout</a>
    <br><br>

    <form method="post">
        {# csfr_token goes here #}
        {{ form }}
        <div class="form-actions">
            <button type="submit">SEARCH</button>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>From</th>
                <th>Subject</th>
                <th>Body</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for message in messages %}
                <tr>
                    <td>{{ message.Sender }}</td>
                    <td>{{ message.Subject }}</td>
                    <td><a href="/emailview/{{ message.id }}/">{{ message.Snippet }}</a></td>
                    <td><small>{{ message.Date }}</small></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready(function(){
            $('table tr').click(function(){
            window.location = $(this).data('href');
            return false;
    });
  });
    </script>

    <br><br>

{% else %}
    Please <a href="/accounts/login/">log in</a>
{% endif %}

</body>
</html>
